name: CI/CD Azure

on:
  push:
    branches:
      - dev
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'dev' && 'dev' || 'prod' }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        if [ -f app/requirements.txt ]; then pip install -r app/requirements.txt; fi

    # --------------------------
    # Run stability tests
    # --------------------------
    # - name: Run stability tests
    #   run: |
    #     if [[ "$GITHUB_REF_NAME" == "dev" ]]; then
    #       ENVIRONMENT="dev"
    #       echo "ENVIRONMENT = $ENVIRONMENT"
    #       echo "AZURE_CONTAINER_NAME dev -> ${AZURE_CONTAINER_NAME}"
    #       echo "TEST_IMAGES_CONTAINER dev -> ${TEST_IMAGES_CONTAINER}"
    #       echo "AZURE_LOG_CONTAINER_NAME dev -> ${AZURE_LOG_CONTAINER_NAME}"
    #     else
    #       ENVIRONMENT="prod"
    #       echo "ENVIRONMENT = $ENVIRONMENT"
    #       echo "AZURE_CONTAINER_NAME prod -> ${AZURE_CONTAINER_NAME}"
    #       echo "TEST_IMAGES_CONTAINER prod -> ${TEST_IMAGES_CONTAINER}"
    #     fi
    #     pytest app/test/test_metric_stability.py -v -s --maxfail=1 --disable-warnings
    #   env:
    #     ENVIRONMENT: ${{ vars.ENVIRONMENT }}
    #     AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
    #     AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
    #     TEST_IMAGES_CONTAINER: ${{ secrets.TEST_IMAGES_CONTAINER }}
    #     AZURE_MODEL_BLOB: ${{ secrets.AZURE_MODEL_BLOB }}
    #     AZURE_LOG_CONTAINER_NAME: ${{ secrets.AZURE_LOG_CONTAINER_NAME }}

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # --------------------------
    # 2. Build Docker image
    # --------------------------
    - name: Build Docker image
      run: |
        if [[ "${{ github.ref_name }}" == "dev" ]]; then
          ENVIRONMENT="dev"
        else
          ENVIRONMENT="prod"
        fi
        echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
        
        IMAGE_NAME="${{ secrets.REGISTRY_LOGIN_SERVER }}/object-identifier"
        
        # Build with both latest and SHA tags
        docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:${{ github.sha }} .
      
      shell: bash
      env:
        REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }}
    
    # --------------------------
    # 3. Login to Azure Container Registry
    # --------------------------
    - name: ACR Login
      run: |
        echo ${{ secrets.REGISTRY_PASSWORD }} | docker login ${{ secrets.REGISTRY_LOGIN_SERVER }} \
            --username ${{ secrets.REGISTRY_USERNAME }} --password-stdin

    # --------------------------
    # 4. Push image to ACR
    # --------------------------
    - name: Push image
      run: |
        # Push both tags
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/object-identifier:latest
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/object-identifier:${{ github.sha }}
        
    # --------------------------
    # 5. Upload artifacts to Azure Blob Storage
    # --------------------------
    # - name: Install Azure Storage CLI
    #   run: |
    #     pip install azure-cli

    # - name: Upload file to Azure Storage
    #   run: |
    #     az storage blob upload \
    #       --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
    #       --account-key ${{ secrets.AZURE_STORAGE_KEY }} \
    #       --container-name modelos-ml \
    #       --file modelo.pkl \
    #       --name modelo.pkl \
    #       --overwrite true

    # --------------------------
    # 6. (Opcional) Deploy to Azure Web App / Container App
    # --------------------------
    # - name: Deploy to Azure Web App
    #   uses: azure/webapps-deploy@v3
    #   with:
    #     app-name: "mia-webapp"
    #     images: ${{ secrets.REGISTRY_LOGIN_SERVER }}/object-identifier:latest
