name: CI/CD Azure

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    # --------------------------
    # 1. Login to Azure
    # --------------------------
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # --------------------------
    # 2. Build Docker image
    # --------------------------
    - name: Build Docker image
      run: |
        if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
          ENVIRONMENT="dev"
          docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER_DEV }}/object-identifier:latest .
        else
          ENVIRONMENT="prod"
          docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER_PROD }}/object-identifier:latest .
        fi
    # --------------------------
    # 3. Login to Azure Container Registry
    # --------------------------
    - name: ACR Login
      run: |
        if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
          echo ${{ secrets.REGISTRY_PASSWORD_DEV }} | docker login ${{ secrets.REGISTRY_LOGIN_SERVER_DEV }} \
            --username ${{ secrets.REGISTRY_USERNAME_DEV }} --password-stdin
          ENVIRONMENT="dev"
        else
          echo ${{ secrets.REGISTRY_PASSWORD_PROD }} | docker login ${{ secrets.REGISTRY_LOGIN_SERVER_PROD }} \
            --username ${{ secrets.REGISTRY_USERNAME_PROD }} --password-stdin
          ENVIRONMENT="prod"
        fi

    # --------------------------
    # 4. Push image to ACR
    # --------------------------
    - name: Push image
      run: |
        if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER_DEV }}/object-identifier:latest
            ENVIRONMENT="dev"
        else
           docker push ${{ secrets.REGISTRY_LOGIN_SERVER_PROD }}/object-identifier:latest
            ENVIRONMENT="prod"
        fi
        
    # --------------------------
    # 5. Upload artifacts to Azure Blob Storage
    # --------------------------
    - name: Install Azure Storage CLI
      run: |
        pip install azure-cli

    - name: Upload file to Azure Storage
      run: |
        az storage blob upload \
          --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
          --account-key ${{ secrets.AZURE_STORAGE_KEY }} \
          --container-name modelos-ml \
          --file modelo.pkl \
          --name modelo.pkl \
          --overwrite true

    # --------------------------
    # 6. (Opcional) Deploy to Azure Web App / Container App
    # --------------------------
    # - name: Deploy to Azure Web App
    #   uses: azure/webapps-deploy@v3
    #   with:
    #     app-name: "mia-webapp"
    #     images: ${{ secrets.REGISTRY_LOGIN_SERVER }}/object-identifier:latest
